/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- GLOBALS -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

body {
  font-family: "Segoe UI", sans-serif;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- HEADER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- MAIN -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

main > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

main > form > div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main > form > div > label {
  font-size: 12px;
}

button {
  width: 300px;
  height: 43px;
  background-color: #5c47d3;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
}
input {
  width: 300px;
  height: 43px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fcf9f9;
  padding: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- RESULT PAGE -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */
.resultPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.infoResultPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  border-radius: 5px;
  width: 300px;
  height: 160px;
  padding-left: 25px;
  gap: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
----------------------------------------------------- FOOTER -----------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------ */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

footer span {
  font-weight: bold;
}
